
{% extends "layout.html" %}
{% block title %}Test menu{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/webapp/javascripts/jquery.flot.js"></script>
<script type="text/javascript" src="/static/webapp/javascripts/jquery.flot.pie.pack.js"></script>
<script type="text/javascript"
    src="/static/webapp/javascripts/jquery.datepick.min.js"></script>
<script type="text/javascript"
    src="/static/webapp/javascripts/stats.js"></script>
<link rel="stylesheet" type="text/css"
    href="/static/webapp/stylesheets/jquery.datepick.css" />
<link rel="stylesheet" type="text/css"
    href="/static/webapp/stylesheets/stats.css" />

{% endblock %}
{% load cache %}
{% block page_tabs %}
<ul id="page-tabs">
	<li class="page"><a href="/ubuzima/reminders">Reminders</a></li>
	<li class="page"><a href="/ubuzima/alerts">Alerts</a></li>
	<li class="page"><a href="/ubuzima/stats">Statistics</a></li>
</ul>
{% endblock %}
{% load pagination-tags %}
{% block content %}
Thanks
{% endblock %}
