<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml">  
    <head>  
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />  
        <title>Tabbed jQuery slideshow</title>  
  
        <link rel="stylesheet" href="{{ STATIC_URL }}css/slideshow.css" type="text/css" media="screen" />  
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cycle.js"></script>  
        <script type="text/javascript" src="{{ STATIC_URL }}js/slideshow.js"></script>		
    </head>  
    <body>  
        <div id="slideshow">  
            <div class="slides">  
                <ul>  
                    <li id="slide-one">  
                        <h2>Slide one</h2>  
                        <p>  
                           
                            {% if news_event %}
                                 {% for news in news_event %}
                                        {{ news.title_name }}<br/>
										<img src="{{ news.article_image.url }}"  />
								 {% endfor %}
							{% endif %}
										
                        </p>  
                    </li>  
                    <li id="slide-two">  
                        <h2>Slide two</h2>  
                        <p>  
                            Nam ac nibh sit amet augue ultricies sagittis. Donec sit  
                            amet nunc. Vivamus lacinia, nisi ac tincidunt commodo, purus  
                            nisi condimentum urna, sit amet molestie odio dolor non lectus.  
                            Cum sociis natoque penatibus et magnis dis parturient montes,  
                            nascetur ridiculus mus.  
                        </p>  
                    </li>  
                    <li id="slide-three">  
                        <h2>Slide three</h2>  
                        <p>  
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.  
                            Suspendisse adipiscing dui a nibh. Integer tristique lorem  
                            vitae massa. Etiam dapibus, eros sit amet euismod semper,  
                            felis erat congue lacus, sed aliquam metus libero sed elit.  
                        </p>  
                    </li>  
                </ul>  
            </div>  
            <ul class="slides-nav">  
                <li><a href="#slide-one">Slide one</a></li>  
                <li><a href="#slide-two">Slide two</a></li>  
                <li><a href="#slide-three">Slide three</a></li>  
            </ul>  
        </div>  
    </body>  
</html>  