{% extends "index.html" %}

{% block content %}

<div id="about_us">
				<p>To reduce the rate of maternal morality in Rwanda, the Government of Rwanda has recognized
that community health workers are necessary in order to improve access to health in rural
communities. Each of Rwanda's 15 000 villages has a community health worker devoted to
maternal and child health issues.</p>
<p>The Ministry of Health, in cooperation with UNICEF introduces an
SMS based system to provide a real time community based surveillance and alert system for
maternal and child health.</p>
<p>Rapidsms, a free and open-source framework for dynamic data collection, logistics coordination
and communication, leveraging basic short message service (SMS) mobile phone technology
was chosen as the technology of choice for the implementation of the project.</p>
	  </div>

{% endblock %}
