{% extends "index.html" %}

{% block content %}
<div class="form_settings">
      <form action="{% url compliment.views.contact_us %}" method="post">
          
            <p><span>Name :&nbsp;&nbsp;&nbsp;&nbsp;</span><input class="contact" type="text" name="name_sd" value="{{ name_send }}" ></p>            
            <p><span>Phone number :&nbsp;&nbsp;&nbsp;&nbsp;</span><input class="contact" type="text" name="telnumber" value="{{ phone }}" ></p>
            <p><span>Subject :&nbsp;&nbsp;&nbsp;&nbsp;</span><input class="contact" type="text" name="subject" value="{{ subject }}" ><br/>
            <p><span>Message :&nbsp;&nbsp;&nbsp;&nbsp;</span><textarea class="contact textarea" rows="8" cols="50" name="message_ent"></textarea></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="submit" /></p>
          
        </form>
        </div>

{% endblock %}
