{% extends "index.html" %}

{% block content %}



      
      <div class="form_settings">
      <form action="/register/" method="post">
            <p><span>Name* :&nbsp;&nbsp;&nbsp;&nbsp;</span><input class="contact" type="text" name="name" value="" /></p>
            <p><span>Username* :&nbsp;&nbsp;&nbsp;&nbsp;</span><input class="contact" type="text" name="your_name" value="" /></p>
            <p><span>Email Address* :&nbsp;&nbsp;&nbsp;&nbsp;</span><input class="contact" type="text" name="your_email" value="" /></p>
            <p><span>Password* :&nbsp;&nbsp;&nbsp;&nbsp;</span><input class="contact" type="password" name="pword" value="" /></p>
            <p><span>Confirm Password* :</span><input class="contact" type="password" name="passw_conf" value="" /></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="reg_submitted" value="submit" /></p>
         
        </form>
      </div>

						
	

{% endblock %}
