{% extends "index.html" %}

{% block content %}

 {% if docs %}
            
            <p>
            {% for item in docs %}
              <br/>
              <strong>{{ item.name }}</strong><br/>
              <a href="{{ item.document_name.url }}">Download here &nbsp;&nbsp;&nbsp;<img src="/static/images/down2.png" alt="Download {{ item.name }}" height="42" width="42" /></a><br/>
              {{ item.description }}<br/>
            
            {% endfor %}
            </p>
           
 {% endif %}



<br/>
<form action="/upload/" method="get">
 <p><input class="submit" type="submit" name="reg_submitted" value="Upload a new document" /></p>
</form>

{% endblock %}
