{% extends "website/index.html" %}

{% block content %}

<head> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script type="text/javascript" src="/static/website/js/jquery.cycle.js"></script>  
<script type="text/javascript" src="/static/website/js/slideshow.js"></script>


</head>


<div id="mainbar"> 
      
      <div id="slideshow">
          	  
            <div class="slides">  
                <ul>
                 {% if news_and_event %}
                     
                    {% for news in news_and_event %}			
                    <li id="{{ news.title_name }}">  
                        <strong><a href="/news_event/{{ news.title_name }}">{{ news.title_name }}</a></strong><br/>  
                         
                            {{ news.article_descr|truncatewords:12 }}<br/><br/>
			<img src="{{ news.article_image.url }}" width="400" heigth="400"/>
									
                          
                    </li>
                     {% endfor %}
		  {% endif %}                 
                </ul>  
            </div>  
            <ul class="slides-nav">
                {% if news_and_event %}
                     
                    {% for news in news_and_event %}
                       {% if forloop.first %}					
                            <li class="on"><a href="#{{ news.title_name }}">{{ news.title_name|truncatewords:2 }}</a></li>
                       {% else %}
                            <li><a href="#{{ news.title_name }}">{{ news.title_name|truncatewords:2 }}</a></li>
	               {% endif %}
                    {% endfor %}
		{% endif %} 
            </ul>
            			
        </div>

                 
     </div>

{% endblock %}	
