<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
{% load region-tags %}

{% load webapp-tags %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>{% block title %}{% endblock %}{% block title_suffix %} - RapidSMS{% endblock %}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
		{% block stylesheets %}
		<!-- stylesheets -->
		<link type="text/css" rel="stylesheet" href="/static/webapp/stylesheets/layout.css" />
		<link type="text/css" rel="stylesheet" href="/static/webapp/stylesheets/modules.css" />
		{% block page_stylesheets %}{% endblock %}
		{% endblock %}
		<!-- javascripts (global, app, page) -->
		<!--<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true" type="text/javascript"></script>-->
		<script type="text/javascript" src="/static/webapp/javascripts/jquery-1.3.2.min.js"></script>{% for js in javascripts %}
		<script type="text/javascript" src="{{ js }}"></script>{% endfor %}
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		<div id="wrapper">
			{% region "top" %}
			{% block header %}
			<div id="header">
                 {% block auth %}
			                    <div id="auth">
                                        {% if user.is_authenticated %}
                                            <p><a href="/accounts/logout/">{% trans "Log out" %} {{ user.username }}</a></p>
                                        {% else %}
                                            <p><a href="/accounts/login/">{% trans "Log in" %}</a></p>
                                        {% endif %}
                                </div>
                 {% endblock %}
				<div id="branding">
                   {% block branding %}
					<h1><b>RapidSMS</b></h1>
                   {% endblock %}
				</div>
				<ul id="tabs">{% for app in apps %}{% if app.tab_link %}
                                        {% ifhasperm user app "can_view" %}
					<li class="app-{{ app.type }}{% ifequal active_tab app.type %} active{% endifequal %}">
						<a href="{{ app.tab_link }}"><span>{{ app.title }}</span></a>
					</li>{% endifhasperm %}{% endif %}{% endfor %}
				</ul>
				{% block page_tabs %}
				{% endblock %}
			
			</div>
			{%if request.session.track%}<div> <!-- HTML codes by Quackit.com --><style type="text/css">
.html-marquee {font-family:Cursive;font-size:10pt;color:#33CCCC;font-weight:bold}
</style>
			
			<br/>
			<marquee class="html-marquee" behavior="scroll" direction="left" scrollamount="3">{{locationname}} WEEKLY STATISTICS&nbsp;&nbsp;&nbsp;&nbsp; REPORTS SUMMARY:{%for stat in request.session.track%}&nbsp;{{stat.label}}[{{stat.number}}]&nbsp;{%endfor%}</marquee> 
<!--<marquee style="font-size:8pt;color:#0198E1	
;font-weight:bold;" behavior="scroll" direction="left" scrollamount="10"></marquee>
<marquee class="html-marquee" behavior="scroll" direction="left" scrollamount="2">Rapidsms Rwanda &gt&gt&gt {% for p in request.session.prv %}

{{p}},
{%endfor%}&gt&gt&gt {% for p in request.session.dst %}

{{p}},
{%endfor%}</marquee>-->
			
			</div>{%endif%}
			{% endblock %}
			<div id="inner">
				{% block content %}{% endblock %}
			</div>

			{% block footer %}
			{% if USE_I18N %}
				<form action="/i18n/setlang/" method="post" style="float:right">
				    <select name="language">
				    {% for lang in LANGUAGES %}
				      <option value="{{ lang.0 }}" 
				      {% ifequal LANGUAGE_CODE lang.0 %}selected{% endifequal %}>
				      {{ lang.1 }}
				      </option>
				    {% endfor %}
				    </select>
				<input type="submit" class="small" value="Submit"/>
				</form>
			{% endif %}
			
			<div id="footer">
				<p class="rights">
					Copyright &copy; 2009 <a href="http://unicefinnovation.org">UNICEF</a> et al.<br />
					<a href="http://github.com/unicefinnovation/rapidsms">RapidSMS</a> is free software,
					available under the <a href="http://www.fsf.org/licensing/licenses/lgpl-3.0.html">LGPL</a>.
				</p>
				{% region "footer" %}
			</div>
			{% endblock %}
			{% region "bottom" %}
		</div>
		
	</body>
</html>
