{% extends base_template %}
{% block title %}Dashboard{% endblock %}

{% block javascripts %}
<script language="javascript" type="text/javascript" src="/static/webapp/javascripts/jquery-1.4.1.min.js"></script>
<!--[if IE]><script type="text/javascript" src="/static/webapp/javascripts/excanvas.pack.js"></script>
<![endif]-->
<script type="text/javascript" src="/static/webapp/javascripts/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="/static/webapp/javascripts/jquery.flot.multi.js"></script>
<link type="text/css" rel="stylesheet" href="/static/webapp/stylesheets/layout.css" />
<link type="text/css" rel="stylesheet" href="/static/webapp/stylesheets/modules.css" />
<link rel="stylesheet" type="text/css" href="/static/webapp/stylesheets/tabview.css" ></link>
<script type="text/javascript" src="/static/webapp/javascripts/tabview.js"></script>
<script type="text/javascript"
    src="/static/webapp/javascripts/stats.js"></script>

<link rel="stylesheet" type="text/css"
    href="/static/webapp/stylesheets/stats.css" />
<link type="text/css" rel="stylesheet" href="/static/webapp/javascripts/calendar/dhtmlgoodies_calendar.css"></link>
<script type="text/javascript" src="/static/webapp/javascripts/calendar/dhtmlgoodies_calendar.js"></script>

<style type="text/css">
#table-design thead ,#table-design th , #table-design td {
	border:solid black 1px
	}
</style>

<script type="text/javascript"> 

function  get_location(str){

	var type = str.split("-")[0], id = str.split("-")[1], location = "";
	if ( type == "Health Centre" ) location = "&location="+id ;
	else location = "&"+type.toLowerCase()+"="+id;
	
	return location;
}


function deroulement(form)
  {
	
	path=document.URL;	
	
if (form.navlocation.value == "")
	{
		if (path.indexOf("?") < 0 && path.indexOf("start_date") <0 ){ window.location=path+'?start_date='+form.start_date.value+'&end_date='+form.end_date.value;
	}
		
		else {
			path=path.replace(/(start_date=)[^\&]+/, '$1' + form.start_date.value);
			path=path.replace(/(end_date=)[^\&]+/, '$1' + form.end_date.value);
			
			window.location=path;
			}
       }
	
else{
			var loc = form.navlocation.value.split('.')[1];
			if ( loc == 'Health Centre') loc = "Location";
			
			path=path.replace(/(start_date=)[^\&]+/, '$1' + form.start_date.value);
			path=path.replace(/(end_date=)[^\&]+/, '$1' + form.end_date.value);
			path=path.replace(/(loc=)[^\&]+/, '$1' + form.navlocation.value.split('.')[0].toLowerCase());
			if(path.indexOf("?") < 0 && path.indexOf("start_date") < 0 )window.location=path+'?start_date='+form.start_date.value+'&end_date='+form.end_date.value;
			else if(path.indexOf("start_date") < 0 )window.location=path+'&start_date='+form.start_date.value+'&end_date='+form.end_date.value;
			else window.location=path;
	}	

 }

function fetch_stats_indics(indic){
	var path=document.URL;
	
	if (path.indexOf(indic) < 0 ) {
		 if (window.location.pathname.split("dash")[1] !="") window.location=path.replace(window.location.pathname.split("dash")[1], '/'+indic);
		 else window.location=path.replace(window.location.pathname, window.location.pathname+'/'+indic);
		}
	else window.location=path;
}


</script>



{% endblock %}

{% block page_tabs %}
<ul id="page-tabs">
	
	<li class="page"><a href="/ubuzima">Report Log</a></li>
</ul>
{% endblock %} 

{% block content %}

<div>
    <form name="filtering" class="topstrip">
        <h2>Filtering</h2>
        <table width="100%">
            <thead>
                
                <tr>
			<th>Start</th><th ><input style="background-color: white"  type="text" id="pickstartdate" value="{{ start_date }}"  name="start_date" 					readonly="readonly"  onFocus="displayCalendar(form.start_date,'dd.mm.yyyy',this)" onchange="return deroulement(this.form);"/></th>
			<th>End</th><th><input style="background-color: white" type="text" id="pickenddate" value="{{ end_date }}"  name="end_date" 					readonly="readonly"  onFocus="displayCalendar(form.end_date,'dd.mm.yyyy',this)" onchange="return deroulement(this.form);"/></th>
			<th>Location Navigation</th><th><select style="background-color: white" name="navlocation" id="navlocation" >
						{% if sel %}<option value="{{ sel.id }}.{{sel.type.name}}"  								selected="selected" >{{ sel.name }}&nbsp;{{ sel.type.name}}</option> {% else %}
							<option value="" selected="selected">{{ usrloc.location.name }}</option>{% endif %}
						{%  for loc in locs %}
							<option value="{{ loc.id }}.{{loc.type.name}}" {% if loc.selected  %} 								selected="selected" {% endif %}>{{ loc.name }}</option>
						{%  endfor %}
						
                				
            					</select></th>
			<th></th><th></th></tr>
            </thead>
            <tbody>
        <tr>	<td colspan="4">
		<a href={{request.path}}>Rwanda</a>
		{% if prv %}
		&nbsp;&gt;<a href={{request.path}}?province={{prv.id}}>{{ prv.name }}&nbsp;{{ prv.type.name }}</a>
		{% else %}
			{% if dst %}&nbsp;&gt;<a href={{request.path}}?province={{dst.parent.id}} >{{ dst.parent.name }}&nbsp;{{ dst.parent.type.name }}</a> 
			{% else %}
			{% if lxn %}&nbsp;&gt;<a href={{request.path}}?province={{lxn.province.id}} >{{ lxn.province.name }}&nbsp;{{ lxn.province.type.name }}</a>			{% endif %}
			{% endif %}
		{% endif %}

		{% if dst %}
		&nbsp;&gt;<a href={{request.path}}?district={{dst.id}}>{{ dst.name }}&nbsp;{{ dst.type.name }}</a>
		{% else %}
		{% if lxn %}&nbsp;&gt;<a href={{request.path}}?district={{lxn.district.id}} >{{ lxn.district.name }}&nbsp;{{ lxn.district.type.name }}</a>
		{% endif %}
		{% endif %}
		
		{% if lxn %}
		&nbsp;&gt;<a href={{request.path}}?location={{lxn.original.id}}>{{ lxn.original.name }}&nbsp;{{ lxn.original.type.name }}</a>
		{% endif %}
		
            	<td> <!-- <input type="button" value="Update Filters"  onClick="return deroulement(this.form);"/> --> </td>
	   	<td> <!-- <a href={{request.url}}?csv{%if postqn%}&{{postqn}}{%endif%}>Export Reports Log</a> --> </td>
                </tr>
		 <tr>
			<td><!--Table--></td><td ><!--Graph--></td><td><!--Map--></td><td></td>
			<td></td><td></td><td></td><td></td>
		</tr>
		</tbody>
        </table>
    </form>
<div class="tmp">


<div>
    
    <div class="clear-hack"></div>
</div>
    
{% load pagination-tags %}    
<div>
   
    <div>
        <table class="hindics" width="100%">
            <thead>
                <tr class="smallhead"><th colspan="3">RapidSMS Data</th></tr>
		
                <tr><th>Description</th><th>Case(s)</th><th><a href="/ubuzima/dash/bir{%if postqn%}?{{postqn}}{%endif%}">Categorized View</a></th></tr>
            </thead>
            <tbody>
		
                {% for hind in hindics.object_list %}
                <tr><td><a
                        href="indicator/{{hind.type__id}}/html?start_date={{start_date}}&end_date={{end_date}}{% if request.GET.province %}&province={{sel.id}}{% endif %}{% if request.GET.district %}&district={{sel.id}}{% endif %}{% if request.GET.location %}&location={{sel.id}}{% endif %}">{{hind.type__description}}</a></td><td>{{hind.tot}}</td><td>[<a
                        href="indicator/{{hind.type__id}}/csv?start_date={{start_date}}&end_date={{end_date}}{% if request.GET.province %}&province={{sel.id}}{% endif %}{% if request.GET.district %}&district={{sel.id}}{% endif %}{% if request.GET.location %}&location={{sel.id}}{% endif %}">export</a>]</td></tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">{% paginator hindics %}</td>
                </tr>
                <tr>
                    <td colspan="3">Matching Indicators: {{ hindics.paginator.count }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    
	<div class="clear-hack"></div>
</div>


</div>

{% block tabview %}

{% endblock %}


            
    <div class="clear-hack"></div>
</div>
 
{% endblock %}
