{% extends base_template %}
{% block title %}{{stattitle}}{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="/static/webapp/javascripts/jquery.flot.js"></script>
<script type="text/javascript" src="/static/webapp/javascripts/jquery.flot.pie.pack.js"></script>
<script type="text/javascript"
    src="/static/webapp/javascripts/jquery.datepick.min.js"></script>
<script type="text/javascript"
    src="/static/webapp/javascripts/stats.js"></script>
<link rel="stylesheet" type="text/css"
    href="/static/webapp/stylesheets/jquery.datepick.css" />
<link rel="stylesheet" type="text/css"
    href="/static/webapp/stylesheets/stats.css" />

<script type="text/javascript"> 


function deroulement(form)
  {
	path=document.URL	

if ((form.province.value=="") || (form.district.value=="") || (form.location.value==""))
	{
		if (path.indexOf("?") < 0 && path.indexOf("start_date") <0 ){ window.location=path+'?start_date='+form.start_date.value+'&end_date='+form.end_date.value;
	}
		
		else {
			path=path.replace(/(start_date=)[^\&]+/, '$1' + form.start_date.value);
			path=path.replace(/(end_date=)[^\&]+/, '$1' + form.end_date.value);
			window.location=path;
			}
       }

else {
	form.submit();	
	}

 }


</script>

<link rel="stylesheet" type="text/css" href="/static/webapp/stylesheets/stats.css" />

<link rel="stylesheet" type="text/css"
href="/static/webapp/javascripts/extjs/resources/css/ext-all.css" />
<script type="text/javascript" src="/static/webapp/javascripts/extjs/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/static/webapp/javascripts/extjs/ext-all-debug.js"></script>

<script>

Ext.onReady(function() {
Ext.chart.Chart.CHART_URL = '/static/webapp/javascripts/extjs/resources/charts.swf';


new Ext.Panel({
renderTo: "divImportant",layout : "fit",

height: 400,
layout: {
type: 'hbox',
align: 'stretch'
},
items: [{
xtype: 'box',
flex: 2,

margins: '0 0 0 0',
html: '<h2></h2><table width="100%"><thead><tr><th colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;</th><tr><tr><th>Indicator</th><th>Value</th><th></th></tr></thead> <tbody> {% for stat in track %} <tr><td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;</td><tr><tr> <td><a href="pregnancy/html/{{stat.id}}{%if postqn%}?{{postqn}}{%endif%}">{{stat.label}}</a></td> <td>{{stat.number}}</td><td>[<a href="pregnancy/csv/{{stat.id}}{%if postqn%}?{{postqn}}{%endif%}">export</a>]</td> </tr> {% endfor %}<tr><td colspan="3"><div></div></td></tr></tbody> <tfoot></tfoot> </table>'
},

{
xtype: 'box',
flex: 2,

margins: '0 0 0 0',
html: ' <table width="100%"><h2>{{locationname}} on Rwanda Map</h2>  <thead> <tr></tr> </thead> <tbody><tr><td class="maptd"><img alt="{{locationname|default:"Rwanda"}} map" src="http://maps.google.com/maps/api/staticmap?center=Rwanda&zoom=8&size=375x350&maptype=roadmap&markers=color:red|{% for coord in coords %}{% if not forloop.first %}|{% endif %}{{coord.latitude}},{{coord.longitude}}{% endfor %}&sensor=false"></img> </td> </tr></tbody></table>'
}],
style: 'padding:1px'
});

});
</script>


{% endblock %}

{% block page_tabs %}
<ul id="page-tabs">
	<!-- <li class="page"><a href="/ubuzima">Reports</a></li> 
	<li class="page"><a href="/ubuzima/triggers">Triggers</a></li>-->
	<li class="page active"><a href="/ubuzima/stats">Statistics</a></li>
</ul>
{% endblock %}

{% load pagination-tags %}

{% block content %}
<h2>Pregnancy Statistics {%if not request.GET.province and not request.GET.district and not request.GET.location %}<p style=" text-align:center; ">{{usrloc.location}}, {{filters.period.start|date:"d/M/Y"}} - {{filters.period.end|date:"d/M/Y"}}</p>{%else%}<p style=" text-align:center; ">{{locationname}}, {{filters.period.start|date:"d/M/Y"}} - {{filters.period.end|date:"d/M/Y"}}</p>{%endif%}<div align="right"><a href="/ubuzima/stats{%if postqn%}?{{postqn}}{%endif%}"> <img src="/static/webapp/icons/silk/decline.png"  border="0"></a></div></h2>
<div class="tmp">

<table width="100%">
<tr><td >&nbsp;</td></tr>
<tr><td ><div>
    <form class="topstrip">
        <h2>Filtering</h2>
        <table width="100%">
            <thead>
                <tr><th colspan="2">Period</th><th>Location</th><th></th><th></th><th></th></tr>
                <tr><th>Start</th><th>End</th><th>Province</th><th>District</th><th>Health
                        Centre</th><th></th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>
            <input type="text" id="pickstartdate" value="{{ start_date }}"
            name="start_date" readonly="readonly" size="10" /></td>
        <td><input type="text" id="pickenddate" value="{{ end_date }}"
            name="end_date" readonly="readonly" size="10" />
                    </td>
                    <td>
            <select name="province" id="provchoose"><option></option>
                {%  for loc in filters.province %}<option value="{{ loc.id }}" {% if loc.selected and request.GET.province %} selected="selected"{% endif %}>{{ loc.name }}</option>{%  endfor %}
            </select>
                    </td>
                    <td>
            <select name="district" id="distchoose"><option></option>
                {%  for loc in filters.district %}<option value="{{ loc.id }}"{% if loc.selected and request.GET.district %} selected="selected"{% endif %}>{{ loc.name }}</option>{%  endfor %}
            </select>
                    </td>
                    <td>
            <select name="location" id="locchoose"><option></option>
                {%  for loc in filters.location %}<option value="{{ loc.id }}"{% if loc.selected and request.GET.location %} selected="selected"{% endif %}>{{ loc.name }}</option>{%  endfor %}
            </select>
                    </td>
                    <td>
            <input type="button" value="Update Filters"  onClick="return deroulement(this.form);"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <div class="clear-hack"></div>
</div></td></tr>
<tr><td >&nbsp;</td></tr>

<table width="100%"><tr><td ><div id="divImportant" style="width:100%;"></div></td></tr></table>

</div>
{% endblock %}
