

div.TabView div.Tabs
{
  height: 20px;
  overflow: hidden;
 
}

div.TabView div.Tabs a
{
background-image:url(../images/tab-bg.png);
 
  float: left;
  display: block;

  width:  140px;
  text-align: center;

  height: 20px;
  padding-top: 3px;
  vertical-align: middle;
	border: 1px solid #fff;
	border-bottom-width: 0;
	font-size:12px;

  text-decoration: none;
  font-family: "Arial";
  font-weight: bold;
  color: #fff;
}

div.TabView div.Tabs a.Active
{
background-image:url(../images/tab-bg-active.png);
}

div.TabView div.Pages
{
  clear: both;
  border: 1px solid silver;
  overflow: hidden;
}

div.TabView div.Pages div.Page
{
  height: 720px;
  width: 100%;
  padding: 0px;
  overflow: hidden;
}

div.TabView div.Pages div.Page div.Pad
{
  padding: 3px 5px;
}
