
/* ---------------------------------------------------- */  
/* GLOBAL 
/* ---------------------------------------------------- */  

  
/* ---------------------------------------------------- */  
/* SLIDESHOW 
/* ---------------------------------------------------- */  
#slideshow {  
width: 490px;  
background-color: #eee;  
border: 1px solid #ddd;}  
  
#slideshow ul {  
margin: 0;  
padding: 0;  
list-style-type: none;  
height: 1%; /* IE fix */}  
  
#slideshow ul:after {  
content: ".";  
clear: both;  
display: block;  
height: 0;  
visibility: hidden;}              
  
/* ---------------------------------------------------- */  
/* SLIDESHOW > SLIDES 
/* ---------------------------------------------------- */  
#slideshow .slides {  
overflow: hidden;  
width: 490px;}  
  
#slideshow .slides ul {  
/* total width of all slides - 
960px multiplied by 3 in this case */  
width: 1470px;
height: 380px;}  
  
#slideshow .slides li {  
width: 450px;  
float: left;  
padding: 20px;}  
  
#slideshow .slides h2 {  
margin-top: 0;}  
  
/* ---------------------------------------------------- */  
/* SLIDESHOW > NAVIGATION 
/* ---------------------------------------------------- */  
#slideshow .slides-nav {  
background-color: #ddd;  
border-top: 2px solid #ccc;}  
  
#slideshow .slides-nav li {  
float: left;}  
  
#slideshow .slides-nav li a {  
display: block;  
padding: 15px 20px;  
outline: none;}  

.js #slideshow .slides-nav li.on,  
.js #slideshow .slides-nav li.on a {  
background-color: #eee;}  
  
.js #slideshow .slides-nav li.on a {  
position: relative;  
top: -4px;} 

/* -------------------------------------------------*/
/* Footer mixed
/* -------------------------------------------------*/

#footer { 
  position: relative; 
  clear: both; 
  width: 100%; 
  height: 30px; 
  bottom: 0; 
  border: none; 
  padding: 13px 0 0 0; 
  text-align: center; 
  color: #335500; 
  background-color: #ccccc2; } 

#footer a {
	color:#81C0FF;
}
#footer a:hover {
	color:#AFD7FF;
}

/* ------------------------------------------------*/
/* Another part of 1.css
/* ------------------------------------------------*/


body {
	margin:0;
	font-family:"Trebuchet MS", Arial, Verdana;
	font-size:0.74em;
	color:#555555;
	background-color:#FFFFFF;
	text-align:left;
	
}



a {
	color:#4D87CE;
	font-weight:bold;
	text-decoration:none;
}
a:hover {
	color:#2a65ad;
}

ol,ul {

}

li {
	/* line-height:20px;
	text-align:left; */
}

#menu {
	width:100%;
	padding-top:20px;
	padding-bottom:20px;
	background-color:#FFFFFF;
	margin-bottom:20px;
	color:#FFFFFF;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-variant:small-caps;
	background-image:url(../images/backgrounds/back.png);
}
#menu a {
	color:#FFFFFF;
	text-decoration:none;
	padding:10px;
	padding-top:20px;
	padding-bottom:20px;
	
}
#menu a:hover {
	border-bottom:1px solid #ffffff;
	border-left:1px solid #243482;
	border-right:1px solid #243482;
	padding-left:9px;
	padding-right:9px;
	color:#ffffff;
	background-color:#FFFFFF;
	background-image:url(../images/backgrounds/hover.jpg);
}

#header {
	width:750px;
	margin:0 auto 0 auto;
	margin-bottom:40px;
}
#header h1 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:30px;
	text-transform:uppercase;
	font-weight:normal;
	margin:0;
	padding:0;
	padding-top:5px;
	color:#253183;
	margin-bottom:10px;
	text-align:left;
}
#header h2 {

color: #333333;
font-family: Century Gothic, sans-serif;
text-align:right;font-weight:normal;font-size:15px;margin:0;
	/*font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	
	text-transform:uppercase;
	
	
	
	padding:0;*/
	/*color:#000000;
	border-bottom:1px solid #eeeeee;*/
}

#content {
	width:700px;
	margin:0 auto 0 auto;
	text-align:left;
}

.introduction {
	font-family:Helvetica, Arial, sans-serif;
	line-height:20px;
	font-size:12px;
	color:#99B198;
	text-indent:25px;
	background-image:url(../images/backgrounds/desc.jpg);
	background-position:bottom left;
	padding-left:0;
	padding-right:200px;
	padding-bottom:35px;
	padding-top:0;
	background-repeat:no-repeat;
	
}
.logo {
	float:left;
	margin-right:30px;
}
.clearer {
	clear:both;
}

#sidebar {

	width:180px;
	float:right;
	font-size:95%;
	color:#253183;
	text-align:left;
}
#sidebar h1 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:20px;
	text-transform:uppercase;
	font-weight:normal;
	border-bottom:1px solid #eeeeee;
	color:#253183;
	text-align:right;
}
.submenu {
}
.submenu a {
	display:block;
	width:100%;
	background-image:url(../images/backgrounds/submenua.png);
	background-position:right;
	background-repeat:no-repeat;
	padding:5px;
	padding-right:0;
}
.submenu a:hover {
	background-color:#eeeeee;
	background-image:url(../images/backgrounds/submenua_hover.jpg);
	background-repeat:repeat-y;
}
#mainbar {
	margin-right:185px;
	padding-right:35px;
	background-image:url(../images/backgrounds/mainbar.jpg);
	background-position:top right;
	background-repeat:no-repeat;
}

#mainbar h1 {
	font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:25px;
	text-transform:uppercase;
	font-weight:normal;
	border-bottom:1px solid #eeeeee;
	color:#253183;
}

#mainbar p {
	padding:15px;
	line-height:20px;
}

#mainbar .articleimg {
	float:right;
	padding:5px;
	/* border:1px solid #eeeeee; */
	border: 0px;
	margin-left:20px;
	margin-top:-5px;
	margin-bottom:20px;
}
#mainbar .articleimg2 {

	padding:5px;
	border:1px solid #eeeeee;
	margin-left:20px;
	margin-top:20px;
	margin-bottom:25px;
}



/* ------------ form settings ---- */

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  /* width: 200px; */ 
  text-align: right;}
 
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  /* border: 1px solid #E5E5DB; */ 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  /* border: 1px solid; */
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #4D87CE;
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.form_settings h3
{font: normal 120% 'century gothic', arial, sans-serif;}

.form_settings .delete_submit
{ font: 100% arial; 
  /*border: 1px solid; */
  width: 99px;  
  height: 33px;
  padding: 0;
  cursor: pointer; 
  background: #7A7A7A;
  color: #FFF;}

 


